@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
	font-family: 'Rubik';
	margin: 0;
	padding: 0;
}
.full {
	width: 100%;
	height: 100%;
}

.githubcontainer, .logocontainer
{
	width: 50%;
}

.nav {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #ddd;
}

.flexcenterboth {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.flexcentervert{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flexcenterhoriz{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

body
{
	
}

h1 {
	font-size: 45px;
	font-weight: 600;
}
.logo {
	font-size: 35px;
	font-weight: 400;
	padding-left: 40px;
	padding-top: 12px;
}

.innernav {
	width: 100%;
	max-width: 1300px;
	text-align: left;
}
.innernav span
{
	font-size: 12px;
	padding-left: calc( 40px ); 
	font-weight: 100
}
.btn {
	font-weight: 100;
	font-size: 19px;
	background-color: #222;
	color: white;
	padding: 16px 30px;
	float: right;
	border-radius: 10px;
	text-decoration: none;
}
.btn:hover
{
	background-color: #000;
	cursor: pointer;
}

.content {
	padding: 100px 20px;
	max-width: 700px;
	text-align: left;
}

.description {
	margin: 25px 0px;
	font-size: 15px;
	font-weight: 100;
	color: green;
}

.date {
	color: #999;
	padding: 0 10px;
}

img {
	width: 100%;
	margin: 20px 0;
	margin-bottom: 40px;
}
p,li{
	font-family: 'Petrona';
	font-size: 22px;
	font-weight: 200;
	padding: 25px 0;
	padding-top: 10px;
}
li
{
	padding: 5px 0;
}
i
{
	font-family: 'Petrona';
}

h2 {
	margin-top: 60px;
	font-size: 30px;
	font-weight: 500;
}

.download {
	text-decoration: none;
	color: white;
	float:left;
	//margin-bottom: 16px;
}

pre .code {
	font-family: monospace;
	padding: 20px;
	background-color: #efefef;
	word-wrap: break-word;
	word-break: break-all;
}
code *, code
{
	font-family: monospace;
	font-size: 15px;
}
pre {
	margin-bottom: 25px;
	position: relative;
}

.tag {
	font-size: 0.8em;
	padding: 0.1em 0.25em;
	background-color: #eee;
	margin-bottom:2em;
	color: #009600;
}
.tag span, .tag 
{
	font-family: monospace;
}

strong {
	font-family: 'Petrona'
}
#scrollshadow {
	position: fixed;
	width: 1px;
	background-color: transparent;
	height: 100%;
	right: -5px;
	top: 0;
	box-shadow: -2px 0px 10px #000;
}

footer {
	border-top: 1px solid #ccc;
	height: 150px;
	width: 100%;
}

footer * {
	font-weight: 100;
}
footer h1
{
	font-size: 35px;
	font-weight: 400;
	padding: 20px 0;
	padding-top: 0;
}

svg {
	width: 0.9em;
	padding: 0;
}



hr {
	border: 1px solid #ddd;
	border-top: none;
}
